<md-card class="" style="height: 100%" *ngIf="article">
  <md-card-header>
    <!--<md-card-title>{{article.title}}</md-card-title>-->
    <!--<md-card-subtitle></md-card-subtitle>-->
  </md-card-header>
  <a [href]=article.url target="_blank">
  <img md-card-image *ngIf="article.urlToImage" [src]=article.urlToImage>
  </a>
  <md-card-content>
    <h3><a [href]=article.url target="_blank">{{article.title}}</a></h3>
    <p>Description: {{article.description}}</p>
  </md-card-content>
  <md-card-actions>
    <!--<button md-button>LIKE</button>-->
    <!--<button md-button>SHARE</button>-->
  </md-card-actions>
  <md-card-footer>
    <div class="author">
    <div *ngIf="article.publishedAt">Published at: {{article.publishedAt | date:  'dd/MMMM/y HH:mm:ss'}}</div>
    <div *ngIf="article.author">Author: {{article.author}}</div>
    </div>
  </md-card-footer>
</md-card>
